.static{
    position:static;
    top: 50px;
    bottom: 1000px;
    border: 5px solid purple;
}


.relative{
    position: relative;
    top: 10px; 
    left:40px;
    border: 3px solid yellow;
    background: blue;
}


.fixed{
    position: fixed;
    right: 10%;
    bottom: 0;
    border: 10px;
    width: 100px; 
    height: 100px;

}

.fixed img{
    width: 100%;
    height: 100%;
}

.sticky{
    position: sticky;
    top: 30px;
    border: 3px solid red;
}

/* .absolute{
    position: absolute;
    top: 39%;
    left:40%;
    border: 3px solid green;
    background: yellowgreen;
}

.normal{
    border: 4px solid saddlebrown ;

} */