

.container{
    width: 400px;
    height:350px;
    border: 5px solid cyan;
    background-color: rgb(0, 110, 255);
    margin: 50px;
    padding: 20px;
    color: antiquewhite;
    transform: scale(1);
}
.container:hover {
transform:skew(10deg,10deg)
}

.circle{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 80px;
    background-image: url(/image/lion.jpg)
}
.circle:hover{
    transform: rotate(50deg)
}

.center{
    text-align: center;
}
 


*{
    box-sizing: border-box;
}
    [class*="col-"] {
        float:left;
        padding: 10px;
        border: 1px solid black;
    }


    .row {
        min-width:578px
    }

.hidden{
    display: block;
}

img{
    min-width: 100%;
    height: auto;
}



@media only screen and (min-width:600px) {
.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width:33.33%
}
.col-5{
    width: 66.66%;
}
.col-6{
    width: 75%;
}
.col-7{
    width: 83.33%;
}
.col-8{
    width: 91.66%;
}
.col-9{
    width: 100%;
}
.hidden{
    display: none;
}

}























































































































































































































































































































































































































































































/* 
.transform{
    background-color: blueviolet;
    width:150px;
    height:150px;
    transform:rotate(50deg);
    margin-top: 50px;
}
.scale{
    background-color: aqua;
    width: 150px;
    height: 150px;
   transform:translate(10px, 40px);
   margin-top:30px;
}
.transition{
    background-color: brown;
    height: 150px;
    width: 150px;
    margin-top:80px;
    border: 5px dashed coral;
    transition: height 2s; width: 2s; background-color: 2s;
    transition-delay:4s;
    
}
.transition:hover{
height: 200px;
width:200px;
background-color: rgb(0, 102, 255);
}

.skew{
    background-color: black;
    width: 150px;
    height: 150px;
    margin-top: 50px;
   
}
.skew:hover{
    transform:scale(2)
} 

.keyframe{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    margin-top: 50px; margin-left:60px; margin-bottom: 50px;
    /* transform: rotate(50deg); */
    /* animation: practice 2s;
    animation-iteration-count:1;
}

@keyframes practice{
    from{background-color: red;}
    to{background-color: yellowgreen;}
} */
/* Another method to achieve this is below, this method is smootheir and, it doesn't give the user the hint that it is transisting */

/* @keyframes practice{
    0%{background-color: blueviolet;}
    25%{background-color: rgb(220, 43, 226);}
    100%{background-color: rgb(226, 43, 144);}
} */